*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
nav{
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    position: fixed;
}
.logo img{
    width: 150px;
    height: 150px;
    margin-right: 1050px;
}
.unoder ul{
    color: white;
    display: flex;
}
.unoder li{
    margin-left: -500px;
    margin: 10px;
    margin-left: -300px;
    font-size: 20px;
}
.icons{
    font-size: 30px;
    margin-left: -200px;
}
#one, button{
    background-color: red;
    color: white;
    border: 1px solid red;
    font-size: 20px;
    border-radius: 30px;
    width: 150px;
    height: 50px;
    margin-left: 20px;
    margin-top: -50px;
}
.dbox{
    width: 100%;
    height: 100%;
}
.text,h1{
    text-align: center;
    color: white;
    margin: 50px;
    font-size: 40px;
}
.menu{
    width: 200px;
    height: 300px;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px;
}
.menu2{
    width: 200px;
    height: 300px;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px;
    margin-top: -350px;
    margin-left: 310px;
}
.menu3{
    width: 200px;
    height: 300px;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px;
    margin-top: -350px;
    margin-left: 560px;
}
.menu4{
    width: 200px;
    height: 300px;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px;
    margin-top: -350px;
    margin-left: 810px;
}
.menu5{
    width: 200px;
    height: 300px;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px;
    margin-top: -350px;
    margin-left: 1070px;
}
.menulist ul,li{
    display: flex;
    list-style-type: none;
    color: white;
    font-size: 22px;
    text-align: center;
    margin: 90px;
    margin-right: 60px;
    margin-left: 80px;
    margin-top: -20px;
}
.box{
    width: 100%;
    height: 500px;
    background-color: rgba(19, 18, 18, 0.788);
    margin: 65px auto;
    margin-top: -100px;
    display: flex;
}
.right{
    width:500px;
    height: 100%;
}
.left{
    width:500px;
    height: 100%;
}
.right h2{
    color: red;
    margin-top: -500px;
    margin-left: 800px;
    letter-spacing: 5px;
    white-space: pre;
    font-size: 18px;
}
.right h1{
    margin-left: 800px;
    margin-top: 20px;
    display: flex;
    white-space: pre;
    color: white;
}
.right p{
    margin-left: 800px;
    margin-top: -30px;
    color: white;
    white-space: pre;
    font-size: 17px;
}
#two,button{
    background-color: rgba(19, 18, 18, 0.788);
    border: 1px solid white;
    margin-left: 800px;
    margin-top: 50px;
}
.box2 h1{
    margin: 250px;
}
.box3 img{
    width: 300px;
    height: 225px;
    margin-left: 100px;
    margin-top: -150px;
}
.type3 h1 ,p{
    color: white;
    margin-top: -30px;
    margin-right: 900px;
    margin-top: -30px;
    margin-left: 60px;
}
.type3 p {
    color: rgb(94, 91, 91);
    margin-top: -40px;
}
.type3 h2{
    color: white;
    margin-left: 200px;
    margin-top: 10px;
}
#dd{
    color: red;
    font-size: 25px;
    margin-left: 230px;
}
.box4 img{
    width: 300px;
    height: 225px;
    margin-left: 500px;
    margin-top: -800px;
}
.type4 h1 ,p{
    color: white;
    margin-top: -30px;
    margin-right: 90px;
    margin-top: -130px;
    margin-left: 60px;
}
.type4 p {
    color: rgb(94, 91, 91);
    margin-top: -50px;
    margin-left: 500px;
    margin-right: 100px;
}
.type4 h2{
    color: white;
    margin-left: 620px;
    margin-top: 10px;
}
#db{
    color: red;
    font-size: 25px;
    margin-left: 650px;
}
.box5 img{
    width: 300px;
    height: 225px;
    margin-left: 900px;
    margin-bottom: 30px;
    margin-top: -750px;
}
.type5 h1 ,p{
    color: white;
    margin-top: -30px;
    margin-right: -700px;
    margin-top: -130px;
    margin-left: 60px;
}
.type5 p {
    color: rgb(94, 91, 91);
    margin-top: -50px;
    margin-left: 900px;
    margin-right: 100px;
}
.type5 h2{
    color: white;
    margin-left: 1020px;
    margin-top: 10px;
}
#dt{
    color: red;
    font-size: 25px;
    margin-left: 1050px;
}
.obox img{
    width: 300px;
    height: 225px;
    margin-left: 100px;
    margin-top: 50px;
}
.write1 h1 ,p{
    color: white;
    margin-top: -30px;
    margin-right: 900px;
    margin-top: -30px;
    margin-left: 60px;
}
.write1 p {
    color: rgb(94, 91, 91);
    margin-top: -40px;
}
.write1 h2{
    color: white;
    margin-left: 200px;
    margin-top: 10px;
}
#dd{
    color: red;
    font-size: 25px;
    margin-left: 230px;
}
.tbox img{
    width: 300px;
    height: 225px;
    margin-left: 500px;
    margin-top: -800px;
    margin-bottom: 20px;
}
.write2 h1 ,p{
    color: white;
    margin-top: -30px;
    margin-right: 90px;
    margin-top: -130px;
    margin-left: 60px;
}
.write2 p {
    color: rgb(94, 91, 91);
    margin-top: -50px;
    margin-left: 500px;
    margin-right: 100px;
}
.write2 h2{
    color: white;
    margin-left: 620px;
    margin-top: 10px;
}
#db{
    color: red;
    font-size: 25px;
    margin-left: 650px;
}
.thbox img{
    width: 300px;
    height: 225px;
    margin-left: 900px;
    margin-top: -750px;
    margin-bottom: 30px;
}
.write3 h1 ,p{
    color: white;
    margin-top: -30px;
    margin-right: -700px;
    margin-top: -130px;
    margin-left: 60px;
}
.write3 p {
    color: rgb(94, 91, 91);
    margin-top: -50px;
    margin-left: 900px;
    margin-right: 100px;
}
.write3 h2{
    color: white;
    margin-left: 1020px;
    margin-top: 10px;
}
#dt{
    color: red;
    font-size: 25px;
    margin-left: 1050px;
}
.box{
    width: 100%;
    height: 500px;
    background-color: rgba(19, 18, 18, 0.788);
    margin: 65px auto;
    margin-top: -100px;
    display: flex;
}
.left1{
    width:500px;
    height: 100%;
    margin-left: 650px;
    margin-bottom: 100px;
    margin-top: -500px;
}
.right1{
    width: 650px;
    height: 500px;
    background-color:rgba(19, 18, 18, 0.788);
    text-align: center;
    margin-top: 100px;
}
.right1 h2{
    letter-spacing: 5px;
    font-size: 18px;
}
h1 .right2{
    margin-left: 40px;
    display: flex;
    color: white;
}
#lol,button{
    background-color: red;
    border: 1px solid white;
    margin-left: 10px;
    margin-top: -50px;
}
.square3{
    margin-left: 270px;
    margin-top: -253px;
}
.square4{
    margin-left: 540px;
    margin-top: -253px;
}
.square5{
    margin-left: 820px;
    margin-top: -253px;
}
.square6{
    margin-left: 1098px;
    margin-top: -253px;
}
.footer-container{
    background-color: rgba(19, 18, 18, 0.788);
    color: white;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    margin-top: 80px;
}
.footer-container img{
    margin-left: 100px;
    margin-top: 30px;
    width: 200px;
    height: 200px;
}
.footer-container p{
    margin-top: -20px;
    margin-left: 110px;
    width: 350px;
    font-size: 18px;
}
.footer-container p{
    margin-top: 40px;
    margin-left: 110px;
    font-size: 18px;
}  
.sl{
    margin-left: 500px;
    margin-top: -400px;
    font-size: 20px;
    font-weight: bold;
}
.footer-one ul{
    color: rgb(255,255,255,0.7);
}
.footer-one li{
    font-size: 16px;
    margin-left: 500px;
    line-height: 1px;
    text-align: center;
    display: flex;
    cursor: pointer;
}
.FT{
    margin-left: 700px;
    margin-top: -400px;
    font-weight: bold;
}
.footer-two ul{
    color: white;
}
.footer-two li{
    font-size: 16px;
    margin-left: 800px;
    line-height: 20px;
    text-align: center;
    display: flex;
    cursor: pointer;
}
.FS{
    margin-left: 1100px;
    margin-top: -570px;
    font-weight: bold;
}
.reme-icon{
    font-size: 40px;
    color: red;
    margin-left: 1090px;
    margin-top: -60px;
}
.la img{
    width: 150px;
    height: 50px;
    margin-left: 1100px;
}
.message h3{
    margin-left: 100px;
    color: white;
}
.message2 h3{
    margin-left: 1000px;
    margin-top: -20px;
    color: white;
}